.factoryFloor {
  margin: 1em;
  width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
}
.factoryFloor td {
  border: 1px solid #d3d3d3;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
}
.factoryFloor img {
  margin-left: -1px;
  margin-right: -1px;
}
.factoryFloor td.active {
  background-color: aqua;
}
td.horizontal {
  background-image: url(icons/normal/Geraden/Gerade1.png);
}
td.vertical {
  background-image: url(icons/normal/Geraden/Gerade3.png);
}
.floating {
  position: absolute;
}
